<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sportsallaround.snadeportivo" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".usuarios.CreateUserActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".usuarios.UserMainDrawer"
            android:label="@string/title_activity_user_main_drawer" >
        </activity>
        <activity
            android:name=".usuarios.UserUpdatePersonalInfo"
            android:label="@string/title_activity_user_update_personal_info" >
        </activity>
        <activity
            android:name=".usuarios.UserUpdateSports"
            android:label="@string/title_activity_user_update_sports" >
        </activity>
        <activity
            android:name=".eventos.GestionEventos"
            android:label="@string/title_activity_gestion_eventos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventos.CrearEvento"
            android:label="@string/title_activity_crear_evento" >
        </activity>
    </application>

</manifest>
