<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sportsallaround.snadeportivo" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SNSTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuarios.CreateUserActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".usuarios.UserMainDrawer"
            android:label="@string/title_activity_user_main_drawer"
            android:theme="@style/MainDrawerTheme" >
        </activity>
        <activity
            android:name=".usuarios.UserUpdatePersonalInfoActivity"
            android:label="@string/title_activity_user_update_personal_info" >
        </activity>
        <activity
            android:name=".usuarios.UserUpdateSportsActivity"
            android:label="@string/title_activity_user_update_sports" >
        </activity>
        <activity
            android:name=".eventos.GestionEventosLista"
            android:label="@string/titulo_gestion_eventos_lista"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".eventos.CrearEvento"
            android:label="@string/title_activity_crear_evento" >
        </activity>
        <activity
            android:name=".eventos.InformacionGeneralEvento"
            android:label="@string/title_activity_informacion_general_evento"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ErrorActivity"
            android:label="@string/title_activity_error" >
        </activity>
        <activity
            android:name=".usuarios.UserAddPracticedSport"
            android:label="@string/title_activity_user_add_practiced_sport" >
        </activity>
        <activity
            android:name=".eventos.InformacionParticipantes"
            android:label="@string/title_activity_informacion_participantes"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".eventos.ManejoParticipantes"
            android:label="@string/title_activity_manejo_participantes"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".eventos.ListadoParticipantes"
            android:label="@string/title_activity_listado_participantes"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".eventos.MenuAdministrarInvolucrados"
            android:label="@string/title_activity_menu_administrar_involucrados" >
        </activity>
        <activity
            android:name=".eventos.PerfilEvento"
            android:label="@string/title_activity_perfil_evento" >
        </activity>
        <activity
            android:name=".eventos.ListadoInvitacionesEvento"
            android:label="@string/title_activity_listado_invitaciones_evento" >
        </activity>
    </application>

</manifest>
