<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sportsallaround.snadeportivo" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SNSTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuarios.CreateUserActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".usuarios.UserMainDrawer"
            android:label="@string/title_activity_user_main_drawer"
            android:theme="@style/MainDrawerTheme" >
        </activity>
        <activity
            android:name=".usuarios.UserUpdatePersonalInfoActivity"
            android:label="@string/title_activity_user_update_personal_info" >
        </activity>
        <activity
            android:name=".usuarios.UserUpdateSportsActivity"
            android:label="@string/title_activity_user_update_sports" >
        </activity>
        <activity
            android:name=".eventos.gui.GestionEventosLista"
            android:label="@string/titulo_gestion_eventos_lista"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".eventos.gui.CrearEvento"
            android:label="@string/title_activity_crear_evento" >
        </activity>
        <activity
            android:name=".eventos.gui.InformacionGeneralEvento"
            android:label="@string/title_activity_informacion_general_evento"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".error.ErrorActivity"
            android:label="@string/title_activity_error" >
        </activity>
        <activity
            android:name=".usuarios.UserAddPracticedSport"
            android:label="@string/title_activity_user_add_practiced_sport" >
        </activity>
        <activity
            android:name=".eventos.gui.InformacionParticipantes"
            android:label="@string/title_activity_informacion_participantes"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".eventos.gui.ListadoSolicitudes"
            android:label="@string/title_activity_manejo_participantes"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".eventos.gui.ListadoParticipantes"
            android:label="@string/title_activity_listado_participantes"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".eventos.gui.MenuAdministrarInvolucrados"
            android:label="@string/title_activity_menu_administrar_involucrados" >
        </activity>
        <activity
            android:name=".eventos.gui.PerfilEvento"
            android:label="@string/title_activity_perfil_evento" >
        </activity>
        <activity
            android:name=".eventos.gui.ListadoInvitacionesEvento"
            android:label="@string/title_activity_listado_invitaciones_evento" >
        </activity>
        <activity
            android:name=".eventos.gui.UbicacionesEvento"
            android:label="@string/title_activity_ubicaciones_evento" >
        </activity>
        <activity
            android:name=".eventos.gui.ListadoInvitarAParticipar"
            android:label="@string/title_activity_listado_invitar_aparticipar" ></activity>
        <activity
            android:name=".usuarios.UserUpdatePracticedSport"
            android:label="@string/title_activity_user_update_practiced_sport" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ubicaciones.NearbyLocationsActivity"
            android:label="@string/title_activity_nearby_locations" >
        </activity>
        <activity
            android:name=".ubicaciones.CreateLocationActivity"
            android:label="@string/title_activity_create_location" ></activity>

    </application>

</manifest>
